@model ApplicationUserModel

<tr>
    <td>@Model.UserName</td>
    <td>@Model.Email</td>
    <td>
        <form asp-action="Delete" method="get" data-ajax="true" data-ajax-method="get" data-ajax-update="#dyncont">
            <input type="hidden" name="id" value="@Model.Id" />
            <input class="btn btn-sm btn-danger" type="submit" value="Удалить">
        </form>
        <form asp-action="Edit" method="get" data-ajax="true" data-ajax-method="get" data-ajax-update="#dyncont">
            <input type="hidden" name="id" value="@Model.Id" />
            <input class="btn btn-sm btn-primary" type="submit" value="Изменить">
        </form>
    </td>
</tr>