@{
    ViewData["Title"] = "Home Page";
}
<style>
    .form-control {
        display: inline-block;
        width: unset;
    }
</style>

<hr />
<div class="row">
    <div class="col-md-4"  id="dyn">
        <partial name="IndexPartial">
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section UA {
    <script type="text/javascript" src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js"></script>
}