
<form asp-action="Index" asp-controller="User" method="get" data-ajax="true" data-ajax-method="get" data-ajax-update="#dyn">
    <input class="btn btn-sm btn-primary" type="submit" value="Управление пользователями" />
</form>
<form asp-action="Index" asp-controller="Admin" method="post" data-ajax="true" data-ajax-method="post" data-ajax-update="#dyn">
    <input class="btn btn-sm btn-primary" type="submit" value="Управление ролями" />
</form>


