@model AdminUser1.Models.UserModel
@{
    ViewData["Title"] = "Index";
}

<style>
    .form-control 
    {
        display:inline-block;
        width:unset;
    }
</style>

<div class="row">
    <div class="col-md-4" id="dyncontainer">
        <h1>Управление ролями</h1>
        <table>
            <thead>
                <tr>
                    <th>login</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                @foreach (KeyValuePair<string, ApplicationUserModel> element in Model.Users)
                {
                    <partial name="IUPartial" model=element.Value />
                }
            </tbody>
        </table>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@section UA {
    <script type="text/javascript" src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js"></script>
}